@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #5B21B6;

    --gray-50: #F9FAFB;
    --gray-100: #F3F4F6;
    --gray-200: #E8EDF3;
    --gray-300: #E6EBF1;
    --gray-400: #eeeeee;
    --gray-500: #6B7280;

    --border-light: #E8EDF3;
    --border-gray: #eeeeee;

    --text-dark: #111827;
    --text-light: #6B7280;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

body {
    height: 100vh;
    width: 100%;
}

.nav-bar {
    height: 75px;
    width: 100%;
    padding: 0 40px 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-light);
}

.search-bar {
    width: 520px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: var(--gray-400);
    border: 1px solid var(--border-light);
    border-radius: 20px;
    padding: 0 10px 0 20px;
    gap: 10px;
}

.search-bar-input {
    height: 100%;
    width: 94%;
    border: none;
    background-color: transparent;
    font-size: 16px;
}

input:focus {
    outline: none;
}

.action-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 35px;
    height: 100%;
    cursor: pointer;
}

.avatar-frame {
    height: 45px;
    width: 45px;
    background-color: var(--gray-200);
    border-radius: 50%;
    cursor: pointer;
}

.nav-icons{
    width: 100%;
    display: none;
    cursor: pointer;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.nav-item,
.nav-item-home {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav-item::after,
.nav-item-home::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #5B21B6;
    transition: width 0.3s ease;
}


.nav-item.active::after,
.nav-item-home.active::after {
    width: 100%;
}



.main-container {
    padding: 40px;
}

.side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 490px;
    width: 250px;
    border: 1px solid var(--gray-400);
    border-radius: 8px;
}

.side-bar-list {
    list-style: none;
    margin: 0 0 0 -40px;
}

.side-bar-home {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 28px 0 0 6px;
    height: 30px;
    gap: 10px;
    cursor: pointer;
}

.home-icon {
    margin-top: 4px;
}

.side-bar-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 22px 0 0 10px;
    gap: 15px;
    cursor: pointer;
}

.side-bar-icons {
    margin-bottom: 5px;
}

.side-bar-item.active,
.side-bar-home.active {
    position: relative;
}

.side-bar-item::after,
.side-bar-home::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--primary);
    border-radius: 2px;
    transition: width 0.3s ease;
}

.side-bar-item.active::after,
.side-bar-home.active::after {
    width: 100%;
}

.seperating-line {
    width: 80%;
    height: 1px;
    background-color: var(--gray-400);
    margin-top: 25px;
}

.categories-title {
    font-size: 16px;
    margin: 20px 0 20px -20px;
}

.categories-section {
    display: flex;
    align-items: center;
    gap: 30px;
}

.categories-list {
    list-style: none;
    margin: 0 0 0 -20px;
}

.categorie-item {
    font-size: 16px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.categorie-item-number {
    width: 43px;
    height: 18px;
    border-radius: 8px;
    border: 1px solid var(--gray-300);
    background-color: var(--gray-100);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 12px;
    color: var(--text-light);
}



@media (max-width: 720px) {
    .nav-bar {
        padding: 0 20px 0 10px;
        border:none;
        height: 55px;
    }

    .search-bar {
        display: none;
    }

    .avatar-frame {
display: none;
    }

    .action-icons {
        gap: 15px;
    }

    .hamburger-menu {
        margin: 0;
        display: block;
    }

    .main-container{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0;
    }
    .side-bar{
        display: none;
    }

    .nav-icons{
        display: inline-block;
    }

    .nav-item{
    height: 47px;
    display: flex;
    align-items: center;
    }
    
    .nav-item-home{
        height: 47px;
    }
    .nav-list{
        display: block;
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap:30px;
        border-bottom: 1px solid var(--border-light);
    }


}